/* explicitly remove "scrolling possible" indicator */
scrolledwindow undershoot.top,
scrolledwindow undershoot.right,
scrolledwindow undershoot.bottom,
scrolledwindow undershoot.left { background-image: none; }

/* explicitly change the rounding factor on some UI elemets */
.titlebar,
.titlebar .background,
decoration,
window,
window.background
{
    border-radius: 0;
}

/* explicitly remove csd shadows */
decoration, decoration:backdrop
{
    box-shadow: none;
}

/* Force override of dimming in unfocused windows */
headerbar:backdrop,
.titlebar:backdrop,
.window:backdrop,
.dialog:backdrop,
decoration:backdrop,
*:-gtk-any(:backdrop) {
    background-color: #2e3440 !important;  /* or whatever your normal color is */
    color: #eceff4 !important;
    box-shadow: none !important;
    opacity: 1 !important;
    background-image: none !important;
    transition: none !important;
}
